search --set=root --file /arch/boot/x86_64/vmlinuz-linux

insmod all_video
set default=0
set timeout=10

menuentry "Macaw0S Live (x86_64)" {
    linux /arch/boot/x86_64/vmlinuz-linux archisobasedir=arch archisolabel=MACAW0S copytoram
    initrd /arch/boot/x86_64/initramfs-linux.img
}

menuentry "Macaw0S Live (x86_64, nomodeset)" {
    linux /arch/boot/x86_64/vmlinuz-linux archisobasedir=arch archisolabel=MACAW0S nomodeset
    initrd /arch/boot/x86_64/initramfs-linux.img
}
